doctype html
html(lang="en")
	head
		//- TODO: This does get repetitive at times
		title Map Packs
		meta(charset="UTF-8")
		link(href="/assets/css/browser.css?v=1", type="text/css", rel="stylesheet")
		link(rel="icon", href="/assets/folder.png")
		meta(id="meta-title", property="og:title", content="Map Packs")
		meta(id="meta-desc", property="og:description", content="Collections of terrible Geometry Dash levels that people only play because of the absurd number of icons they unlock.")
		meta(id="meta-image", name="og:image", content="/assets/folder.png", itemprop="image")
		meta(name="twitter:card", content="summary")
	body.levelBG(style={ "overflow-y": "auto" })
		#everything.center
			.center(style={ margin: "2.5% auto 2% auto", width: "50%" })
				h1(style={ transform: "scale(1.2)" }) Map Packs

			img#loading.spin.noselect(style={ "margin-top": "1%", height: "12%" }, src="/assets/loading.png")

			#packList
				br

			div(style={ position: "absolute", top: "2%", left: "-1.95%", width: "10%", height: "25%", "pointer-events": "none" })
				img#backButton.gdButton.yesClick(src="/assets/back.png", style={ height: "30%" })

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		script(type="module", src="/vendor/index.js")
		script(type="module", src="/misc/global.js")
		script(type="module", src="/scripts/mappacks.js")