doctype html
html(lang="en")
	head
		title#tabTitle Level Search
		meta(charset="UTF-8")
		link(href="/assets/css/browser.css?v=1", type="text/css", rel="stylesheet")
		link(rel="icon", href="/assets/coin.png")
		meta(id="meta-title", property="og:title", content="Level Search")
		meta(id="meta-desc", property="og:description", content="Search for Geometry Dash levels, and filter by length, difficulty, song + more!")
		meta(id="meta-image", name="og:image", content="/coin.png", itemprop="image")
		meta(name="twitter:card", content="summary")
	body.levelBG
		#everything(style={ overflow: "auto" })
			#pageDiv.popup
				.brownBox.bounce.center.supercenter(style={ width: "60vh", height: "34%" })
					h2.smaller.center(style={ "font-size": "5.5vh", "margin-top": "1%" }) Jump to Page
					input#pageSelect(type="number", placeholder="1")
					img#pageJump.gdButton.center.closeWindow(src="/assets/ok.png", style={ height: "20%" })
					img.closeWindow.gdButton(src="/assets/close.png", style={ height: "25%", position: "absolute", top: "-13.5%", left: "-6vh" })

					.supercenter(style={ left: "25%", top: "43%", height: "10%" })
						img#prevResult.gdButton(src="/assets/whitearrow-left.png" style={ height: "160%" })

					.supercenter(style={ left: "75%", top: "43%", height: "10%" })
						img#nextResult.gdButton(src="/assets/whitearrow-right.png" style={ height: "160%" })

			#purgeDiv.popup
				.fancybox.bounce.center.supercenter(style={ width: "35%", height: "28%" })
					h2.smaller.center(style={ "font-size": "5.5vh" }) Delete All
					p.bigger.center(style={ "line-height": "5vh", "margin-top": "1.5vh" })
						| Delete all saved online levels?
						br
						cy Levels will be cleared from your browser
					img.gdButton.center.closeWindow(src="/assets/textbuttons/cancel-green.png", style={ height: "25%" })
					img#purgeSaved.gdButton.center.sideSpaceB(src="/assets/textbuttons/delete.png", style={ height: "25%" })

			#shuffleDiv.popup
				.fancybox.bounce.center.supercenter(style={ width: "35%", height: "28%" })
					h2.smaller.center(style={ "font-size": "5.5vh" }) Random Level
					p.bigger.center(style={ "line-height": "5vh", "margin-top": "1.5vh" })
						| A random level cannot be picked with your current
						|
						cy search filters!
						|
						| This is because there is no way to tell how many results were found, due to the GD servers inaccurately saying there's
						|
						cg 9999
						| .
					img.gdButton.center.closeWindow(src="/assets/ok.png", style={ height: "20%" })

			div(style={ position: "absolute", bottom: "0", left: "0", width: "100%" })
				img.cornerPiece(src="/assets/corner.png", style={ height: "14vh" })

			div(style={ position: "absolute", bottom: "0", left: "0", width: "100%", "text-align": "right" })
				img.cornerPiece(src="/assets/corner.png", style={ height: "14vh", transform: "scaleX(-1)" })

			#searchBox.supercenter.dragscroll
				div(style={ height: "4.5%" })

			.epicbox.supercenter.gs(style={ width: "120vh", height: "80%", "pointer-events": "none" })

			.center(style={ position: "absolute", top: "8%", left: "0", right: "0" })
				h1#header

			div(style={ "text-align": "right", position: "absolute", top: "1%", right: "2%" })
				h2#pagenum.smaller(style={ "font-size": "4.5vh" })

			div(title="Jump to page", style={ "text-align": "right", position: "absolute", top: "7.5%", right: "2%", height: "12%" })
				img.gdButton(src="/assets/magnify.png", style={ height: "60%", "margin-top": "5%" }, onclick="$('#pageDiv').show(); $('#pageSelect').trigger('focus').trigger('select')")

			#shuffle(title="Random level", style={ display: "none", "text-align": "right", position: "absolute", top: "7.5%", right: "6.5%", height: "12%" })
				img.gdButton(src="/assets/random.png", style={ height: "60%", "margin-top": "5%" })

			#lastPage(title="Last page", style={ display: "none", "text-align": "right", position: "absolute", top: "7.5%", right: "11%", height: "11%" })
				img.gdButton(src="/assets/double-arrow.png", style={ height: "60%", "margin-top": "5%" })

			div(style={ position: "absolute", top: "2%", left: "1.5%", width: "10%", height: "25%", "pointer-events": "none" })
				img#backButton.gdButton.yesClick(src="/assets/back.png", style={ height: "30%" })

			//- Find a way to get rid of these styling hellholes
			#purge(style={ position: "absolute", bottom: "20%", right: "-3%", width: "10%", display: "none" })
				img.gdButton(src="/assets/delete.png", style={ width: "60%" }, onclick="$('#purgeDiv').show()")

			div(style={ position: "absolute", bottom: "2%", right: "1%", width: "15%", "text-align": "right" })
				img#refreshPage.gdButton(src="/assets/refresh.png", style={ width: "40%" })

			#gdWorld(style={ position: "absolute", bottom: "2%", right: "8.5%", width: "15%", "text-align": "right", display: "none" })
				a(title="Geometry Dash World", href="/search/*?type=gdw")
					img.gdButton(src="/assets/gdw_circle.png", style={ width: "40%" })

			#normalGD(style={ position: "absolute", bottom: "2%", right: "8.5%", width: "15%", "text-align": "right", display: "none" })
				a(title="Back to Geometry Dash", href="/search/*?type=featured")
					img.gdButton(src="/assets/gd_circle.png", style={ width: "40%" })

			div(style={ position: "absolute", left: "7%", top: "45%", height: "10%" })
				img#pageDown.gdButton(src="/assets/arrow-left.png", style={ display: "none", height: "90%" })

			div(style={ position: "absolute", right: "7%", top: "45%", height: "10%" })
				img#pageUp.gdButton(src="/assets/arrow-right.png", style={ display: "none", height: "90%" })

			#loading.supercenter(style={ height: "10%", top: "47%", display: "none" })
				img.spin.noSelect(src="/assets/loading.png", style={ height: "105%" })

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		script(type="module", src="/vendor/index.js")
		script(type="module", src="/misc/global.js")
		script(type="module", src="/dragscroll.js")
		script(type="module", src="/scripts/search.js")