<div class="inline portalDiv">
	<img class="portalImage{{extraClasses}}" src='/assets/objects/portals/{{portalName}}.png'>
	<h3>{{portalPos}}</h3>
</div>
{{#if addDivider}}
	<img class="divider portalImage" src="/assets/divider.png" style="margin: 1.3% 0.8%">
{{/if}}