doctype html
html(lang="en")
	head
		title Achievements
		meta(charset="UTF-8")
		link(href="/assets/css/browser.css?v=1", type="text/css", rel="stylesheet")
		link(rel="icon", href="/assets/trophies/1.png")
		meta(id="meta-title", property="og:title", content="Achievements")
		meta(id="meta-desc", property="og:description", content="View the list of achievements in Geometry Dash!")
		meta(id="meta-image", name="og:image", content="/assets/trophies/1.png", itemprop="image")
		meta(name="twitter:card", content="summary")
	body.levelBG
		#everything(style={ overflow: "auto" })
			//- Largely untested - use with caution
			h2 Boomlings Leaderboard
			#boomerbox.supercenter.dragscroll
			#borderbox.supercenter.dragscroll
			#loading.supercenter(style={ height: "10%", top: "47%", display: "none" })
				img.spin.noSelect(src="/assets/loading.png", style={ height: "105%" })

			div(style={ position: "absolute", top: "2%", left: "1.5%", width: "10%", height: "25%", "pointer-events": "none" })
				img#backButton.gdButton.yesClick(src="/assets/back.png", style={ height: "30%" })

			div(style={ position: "absolute", bottom: "0", left: "0", width: "100%" })
				img.cornerPiece(src="/assets/corner.png", style={ height: "14vh" })

			div(style={ position: "absolute", bottom: "0", left: "0", width: "100%", "text-align": "right" })
				img.cornerPiece(src="/assets/corner.png", style={ height: "14vh", transform: "scaleX(-1)" })

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js")
		script(type="module", src="/vendor/index.js")
		script(type="module", src="/misc/global.js")
		script(type="module", src="/dragscroll.js")
		script(type="module", src="/scripts/boomlings.js")