doctype html
html(lang="en")
	head
		title Feature not yet implemented in GDBrowser!
		meta(charset="UTF-8")
		link(href="/assets/css/browser.css?v=1", type="text/css", rel="stylesheet")
		link(rel="icon", href="/assets/coin.png")
	body.levelBG(style={ "overflow-y": "scroll" })
		.supercenter(style={ height: "70%" })
			h1 Coming soon!
			br
			p
				| With the release of Geometry Dash 2.2 comes a lot of new features,
				| many of which are yet to be available in the current version of GDBrowser.
			p We are currently working hard on this, but in the meantime use the in-game UI instead.
			br
			img(src="/assets/javi.png", style={ width: "55vh", "border-radius": "20px", border: "2px solid black;" })
			br
			br
			.gdButton
				a(href="https://twitter.com/TheRealGDColon")
					img.inline(src="/assets/twitter.png", style={ width: "6%" })
					h2.inline(style={ "margin-left": "2%" }) stay updated